@charset 'UTF-8';

/*
GLOBAＬ
================================================ */
:root {
  /* Color */
  --light-grey: #ccc;
  --grey: #666;
  --dark-grey: #707070;
  --green: #7bba93;
  --dark-blue: #39565C;
  --white: #fff;
  --pale-yellow: #F3F3F2; /* 背景色 */

  /* margin */
  --margin-sm: 1rem;
  --margin-md: 2rem;
  /* padding */
  --padding-sm: 1rem;
  --padding-md: 2rem;

  /* Font/Space Size */
  --font-sm: .75rem;   /* 12px */
  --font-md: 1rem;     /* 16px */
  --font-lg: 1.25rem;  /* 20px */
  --font-xl: 1.625rem; /* 26px */

  /* Border Radius Size */
  --round-sm: 6px;
  --round-md: 10px;
  --round-lg: 50%;

  /* Width Size */
  --max-width-body: 1250px;   /* var(--max-width-body) */
  --max-width-main: 890px;    /* var(--max-width-main) */
  --max-width-sidebar: 360px; /* var(--max-width-sidebar) */

  /* Height Size */
  --post-document-wrapper: 80px;
  --post-list-title: 50px;

  /* shadow */
  --box-shadow: 0 2px 10px rgba(83, 83, 83, 0.6);
}

/*
GENERAL STYLING
================================================ */
body {
color: var(--grey);
  font-family: 'Noto Sans JP', sans-serif;
  background: var(--pale-yellow);
}

/*
COMMON
================================================ */
p {
  line-height: 1.7;
}
img,
iframe {
  max-width: 100%;
}

/*
LAYOUT
================================================ */
.wrapper {
  width: 100%;
  margin: 0 auto;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
MAIN
================================================ */
.main-contents {
  margin-bottom: 3rem;
  max-width: var(--max-width-main);
}

/*
MEDIUM SIZE
================================================ */
@media(min-width: 768px){
  /* LAYOUT  */
  .wrapper {
      max-width: var(--max-width-body);
  }

  .grid {
      display: grid;
      grid-template-columns: 1fr var(--max-width-sidebar);
      gap: 1rem;
      margin-bottom: 3rem;
  }
}