@charset 'UTF-8';

/*
FOOTER
================================================ */
.site-footer {
  /* background: url(../images/footer.svg)center/cover; */
  background-color: var(--green);
  text-align: center;
  color: var(--white);
  padding: 2rem 0;
  margin-top: 2rem;
}
.copyright {
  font-size: var(--font-sm);
  color: rgba(255,255,255,.6)
}

/* Navigation */
.primary-navigation {
  margin-bottom: var(--margin-sm);
}

.footer-menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid var(--light-grey);
  padding: 0 0 1rem;
  text-align: center;
}
.footer-menu-wrapper a:hover {
  text-decoration: underline;
}

/*
MEDIUM SIZE
================================================ */
@media(min-width: 600px){
  /* Navigation */
}