@charset 'UTF-8';

/*
HEADER
================================================ */
.site-header {
  height: 130px;
  background-color: var(--green);
  /* background-image: url(../images/header.jpg);
  background-position: center;
  background-size: cover; */
  padding-top: 1rem;
  margin-bottom: 1rem;
  -webkit-clip-path: ellipse(100% 100% at 50% 0);
  clip-path: ellipse(100% 100% at 50% 0);
}
.site-title {
  margin-bottom: .5rem;
}

.site-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.site-title-name {
  color: var(--white);
  font-size: var(--font-xl);
  font-weight: bold;
}
.site-logo {
  height: 40px;
  margin-right: var(--margin-sm);
}
.site-description {
  color: var(--white);
  font-size: var(--font-sm);
}

/* Navigation */
.btn-menu {
  color: var(--white);
  border: 1px solid var(--light-grey);
  border-radius: var(--round-sm);
  padding: .5rem 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: rgba(0,0,0,.3);
}
.admin-bar .btn-menu {
  top: calc(1rem + 46px);
}
.menu-wrapper {
  background: rgba(255,255,255,.7);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  padding: 1rem 0;
  margin-top: 1rem;
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 0;
  overflow-x: hidden;
  text-align: center;
  width: 0;
  transition: .5s;
}
.admin-bar .menu-wrapper {
  top: calc(50px + 46px);
}
.menu-wrapper li {
  padding: 1rem;
}
.menu-wrapper a {
  white-space: nowrap;
}
.menu-wrapper.open-menu {
  width: 100%;
}

#page-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: .5rem;
  background-color: var(--dark-green);
  color: var(--white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0; /* ボタンを最初は非表示にする */
  transition: opacity .5s ease-in-out;
  z-index: 1;
  width: 60px;
}

#page-top:hover {
  background-color: var(--green);
}

#page-top.show {
  opacity: 1;
}

.page-top-img {
  width: 100%;
}

/*
MOBILE SIZE
================================================ */
@media(min-width: 600px){
  /* HEADER */
  .site-header {
      height: 200px;
      text-align: center;
      padding-top: 2.5rem;
      -webkit-clip-path: ellipse(80% 100% at 50% 0);
      clip-path: ellipse(80% 100% at 50% 0);
  }
  .site-title {
      margin-bottom: 2rem;
  }

  .site-title-wrapper {
    flex-direction: row;
  }

  .site-logo {
      height: 100px;
  }
  .site-description {
      font-size: var(--font-md);
  }

  /* Navigation */
  .primary-navigation {
      margin-bottom: 2rem;
  }
  .btn-menu {
      display: none;
  }
  .menu-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border-bottom: 1px solid var(--light-grey);
      background: none;
      position: static;
      width: 100%;
      padding: 0 0 1rem;
      transition: none;
  }
  .menu-wrapper a:hover {
      color: var(--green);
  }

  #page-top {
    width: 70px;
}
}

/*
TABLET SIZE
================================================ */
@media(min-width: 768px) {
    #page-top {
        padding: 1rem;
        width: 80px;
    }
}
/*
PC SIZE
================================================ */
@media(min-width: 1280px) {
    #page-top {
        bottom: 2rem;
        right: 2rem;
        padding: 1rem;
        width: 100px;
    }
}