@charset 'UTF-8';

/*
POST LIST
================================================ */
.home .post-list,
.archive .post-list,
.search .post-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-bottom: 3rem;
    max-width: 375px;
    margin: 0 auto var(--margin-md) auto;
    padding: var(--padding-md);
}
.post-item {
    background: var(--white);
    border-radius: var(--round-md);
    position: relative;
}
.post-item .wp-post-image {
    border-radius: var(--round-md) var(--round-md) 0 0;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.post-header {
    padding: 1rem;
}
.post-title {
    margin-bottom: .5rem;
    line-height: 1.5;
    word-break: break-word;
}
.post-date {
    color: var(--light-grey);
    font-size: var(--font-sm);
}
.post-tag-terms,
.post-categories {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.post-tag-terms li,
.post-categories li {
    background: var(--dark-blue);
    color: var(--white);
    font-size: var(--font-sm);
    border-radius: var(--round-sm);
    padding: .5rem;
}

.post-list-title-wrapper {
    height: var(--post-list-title);
    line-height: var(--post-list-title);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    margin-bottom: var(--margin-sm);
    padding: 0 2rem;
}

.post-list-title {
    font-size: var(--font-xl);
    text-align: left;
}

/* Post navigation */
.nav-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.nav-links a{
    padding: .75rem 1rem .85rem;
    background: var(--green);
    border-radius: var(--round-sm);
    color: var(--white);
    box-shadow: 0 4px 10px rgba(123, 186, 147, .6);
}

/* Archive */
.page-title {
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Post document */
.post-document {
  height: var(--post-document-wrapper);
  line-height: var(--post-document-wrapper);
  font-size: var(--font-xl);
  background-color: white;
  text-align: center;
  box-shadow: var(--box-shadow);
  margin-bottom: var(--margin-md);
}

.post-document:hover {
  text-decoration: underline;
}

/*
MEDIUM SIZE
================================================ */
@media(min-width: 768px){
    /* Archive */
    .page-title {
        font-size: var(--font-xl);
        margin-bottom: 2rem;
    }

/* MAIN */
    .home .post-list,
    .archive .post-list,
    .search .post-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        max-width: 890px;
        padding: 0;
    }
    .post-item:hover {
        box-shadow: 0 0 10px rgba(0,0,0,.16);
    }
    .post-categories li:hover {
        background: var(--dark-grey);
    }
    .nav-links a:hover {
        background: var(--dark-blue);
        box-shadow: 0 4px 10px rgba(57, 86, 92, .6);
    }
    .post-item .wp-post-image {
        aspect-ratio: 4 / 3;
    }
}

/*
LARGE SIZE
================================================ */
@media(min-width: 1280px){
    .home .post-list,
    .archive .post-list,
    .search .post-list {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 2rem;
    }
}