@charset "UTF-8";
/*
SIDEBER
================================================ */
.sidebar-contents {
    height: auto;
    display: none;
}

.sidebar-contents-wrapper {
    background-color: var(--white);
    padding: 1.25rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--round-md);
    margin-bottom: var(--margin-sm);
}

.sidebar-post-lists {
  margin-left: 0;
}
.sidebar-post-list {
  margin-bottom: 10px;
  list-style: none;
}
.sidebar-post-link {
  display: flex;
  gap: 14px;
}
.sidebar-post-thumb img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.sidebar-header-wrapper {
  margin-bottom: var(--margin-sm);
  border-bottom: 1px solid var(--grey);
}

.sidebar-header {
  font-size: var(--font-lg);
}

.sideber-taxonomy-label {
  font-size: var(--font-md);
  font-weight:bold;
}

.sideber-taxonomy-item {
  font-size: var(--font-md);
}

.sidebar-margin-md {
  margin-bottom: var(--margin-md);
}

.sidebar-post-body {
  max-width: calc( var(--max-width-sidebar) - 20px - 20px - 80px - 14px );
}

.sidebar-post-date-wrapper {
  margin-bottom: var(--margin-sm);
}

/*
PC-HALF SIZE
================================================ */
@media(min-width: 600px) {
}

/*
TABLET SIZE
================================================ */
@media(min-width: 768px){
  /* LAYOUT  */

}

/*
PC SIZE
================================================ */
@media(min-width: 1280px) {
    .sidebar-contents {
        display: block;
    }
}